ZOOM_SECRET_TOKEN="xxxxxxxxxxxxxxxxxxxxxxxx"
WEBHOOK_TIMESTAMP_TOLERANCE_SECONDS=300
ZOOM_CLIENT_ID="xxxxxxxxxxxxxxxxxxxxxxxxxxxx"
ZOOM_CLIENT_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxx"
PORT = 3000
WEBHOOK_PATH="/webhook"
