ZOOM_SECRET_TOKEN="xxxxx"
ZOOM_CLIENT_ID="xxxxx"
ZOOM_CLIENT_SECRET="xxxxx"
PORT=3000
WEBHOOK_PATH="/webhook"

RTMSTRIGGERMANAGERTYPE="webhook"
zoomWSURLForEvents="wss://ws.zoom.us/ws?subscriptionId=xxxxx"

ZOOM_S2S_CLIENT_ID="xxxxx"
ZOOM_S2S_CLIENT_SECRET="xxxxx"
ZOOM_ACCOUNT_ID="xxxxx"

VIDEO_CLIENT_ID="xxxxx"
VIDEO_CLIENT_SECRET="xxxxx"
VIDEO_SECRET_TOKEN="xxxxx"

MEDIA_SOCKET_CONNECTION_MODE="split"
MEDIA_TYPES_FLAG=3

AZURE_STORAGE_CONNECTION_STRING="DefaultEndpointsProtocol=https;AccountName=xxxxx;AccountKey=xxxxx;EndpointSuffix=core.windows.net"
