# Zoom Configuration
ZOOM_CLIENT_ID=xxxxxx
ZOOM_CLIENT_SECRET=yyyyyy
ZOOM_SECRET_TOKEN=zzzzzzz

# Server Configuration
SERVER_PORT=3000

# Application Configuration
APP_WEBHOOK_PATH=/webhook
APP_MODE=webhook
MEDIA_SOCKET_CONNECTION_MODE=split
MEDIA_TYPES_FLAG=11
