ZOOM_SECRET_TOKEN="xxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
WEBHOOK_TIMESTAMP_TOLERANCE_SECONDS=300
ZOOM_CLIENT_ID="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
ZOOM_CLIENT_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"


PORT = 3000
WEBHOOK_PATH="/"
