ZOOM_SECRET_TOKEN="xxxxx"
ZOOM_CLIENT_ID = "yyyyy"
ZOOM_CLIENT_SECRET = "xxxxx"
PORT = 3000
WEBHOOK_PATH="/webhook"
WS_URL="wss://yoururl.ngrok.com/ws"
MODE="webhook"
zoomWSURLForEvents="wss://ws.zoom.us/ws?subscriptionId=xxxxxxxxxxxxxxxxxxxxx"

ZOOM_S2S_CLIENT_ID="xxxxxxxxxxxxxxxxxxxxxxx"
ZOOM_S2S_CLIENT_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxx"
ZOOM_ACCOUNT_ID="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"