ZOOM_SECRET_TOKEN="xxxxx"
ZOOM_CLIENT_ID = "xxxxx"
ZOOM_CLIENT_SECRET = "xxxxx"
PORT = 5050
WEBHOOK_PATH="/"
ASSEMBLYAI_API_KEY="xxxxx"
REALTIME_ENABLED=true
REALTIME_MODE=mixed
AUDIO_SAMPLE_RATE=16000
TARGET_CHUNK_DURATION_MS=100
